## Content Based

In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
df = pd.read_csv("data.csv")
df.head()

,name,overview,id,poster_path,rating,vote_count,adult,director,producer,creator,actors,year_released,genres,keywords
0,Tagesschau,"German daily news program, the oldest still ex...",94722,https://image.tmdb.org/t/p/w500/7dFZJ2ZJJdcmkp...,7.094,171,False,[],[],[],[],1952.0,['News'],"['German', 'daily', 'news', 'program', 'oldest..."
1,Elas por Elas,Seven friends who met in their youth at an Eng...,219109,https://image.tmdb.org/t/p/w500/m0cvvnhnRXdQhL...,6.533,15,False,[],[],"['Alessandro Marson', 'Thereza Falcão']",[],2023.0,"['Comedy', 'Mystery', 'Soap', 'Drama']","['Seven', 'friends', 'met', 'youth', 'English'..."
2,Gran hermano VIP,NaN,82250,https://image.tmdb.org/t/p/w500/9269PATr0bmEXK...,3.818,11,False,[],[],['John de Mol'],[],2004.0,['Reality'],[]
3,Stardance XII ...kolem dokola,NaN,237200,https://image.tmdb.org/t/p/w500/ot9MBwaVWb8vJU...,7.000,2,False,[],[],[],[],2023.0,[],[]
4,Temptation Island India,Relationships ka hoga ab ultimate test! Will t...,238766,https://image.tmdb.org/t/p/w500/lpcg76guqxN9Yu...,8.000,2,False,[],[],['Jessu George'],[],2023.0,['Reality'],"['Relationships', 'ka', 'hoga', 'ab', 'ultimat..."

In [3]:
df['genres'] = df['genres'].apply(ast.literal_eval)
df['genres'] = df['genres'].apply(lambda genre_list: ' '.join(map(str, genre_list)).replace(',', ''))

In [4]:
df['keywords'] = df['keywords'].apply(ast.literal_eval)
df['keywords'] = df['keywords'].apply(lambda genre_list: ' '.join(map(str, genre_list)).replace(',', ''))

In [5]:
import ast
import pandas as pd

# Assuming df is your DataFrame
df['actors'] = df['actors'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])

# Join the elements in the list and remove commas
df['actors'] = df['actors'].apply(lambda actor_list: ' '.join(map(str, actor_list)).replace(',', ''))

In [6]:
import ast
import pandas as pd

# Assuming df is your DataFrame
df['producer'] = df['producer'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])

# Join the elements in the list and remove commas
df['producer'] = df['producer'].apply(lambda actor_list: ' '.join(map(str, actor_list)).replace(',', ''))

In [7]:
import ast
import pandas as pd

# Assuming df is your DataFrame
df['director'] = df['director'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])

# Join the elements in the list and remove commas
df['director'] = df['director'].apply(lambda actor_list: ' '.join(map(str, actor_list)).replace(',', ''))

In [8]:
import ast
import pandas as pd

# Assuming df is your DataFrame
df['creator'] = df['creator'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])

# Join the elements in the list and remove commas
df['creator'] = df['creator'].apply(lambda actor_list: ' '.join(map(str, actor_list)).replace(',', ''))

In [9]:
import ast
import pandas as pd

# Assuming df is your DataFrame
df['adult'] = df['adult'].apply(lambda x: ast.literal_eval(str(x).capitalize()) if pd.notna(x) else [])

# Convert boolean values to string representations
df['adult'] = df['adult'].apply(lambda x: str(x))

# Join the elements in the list and remove commas
df['adult'] = df['adult'].apply(lambda adult_list: ' '.join(map(str, adult_list)) if isinstance(adult_list, list) else '')

In [10]:
df['rating'] = df['rating'].apply(lambda x: str(x))

In [11]:
df['tags'] = df['genres']+ " " + df['adult']+ " " + df['keywords'] + " " + df['rating'] + " " + df['director'] + " " + df['creator'] +  " " + df['producer'] +  " " + df['actors']

In [12]:
df['overview'].fillna('', inplace=True)

In [13]:
df = df.drop(columns=['poster_path','rating','vote_count','genres','keywords','overview','creator','producer','director','actors','adult','year_released'])
df.head()

,name,id,tags
0,Tagesschau,94722,News German daily news program oldest existin...
1,Elas por Elas,219109,Comedy Mystery Soap Drama Seven friends met y...
2,Gran hermano VIP,82250,Reality 3.818 John de Mol
3,Stardance XII ...kolem dokola,237200,7.0
4,Temptation Island India,238766,Reality Relationships ka hoga ab ultimate tes...

In [14]:
df.to_csv("new_data.csv",index=False)

In [55]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=10000,stop_words='english')

In [56]:
vector = cv.fit_transform(df['tags']).toarray()

In [57]:
vector.shape

(9542, 10000)

In [58]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
similarity

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.03857584, 0.07856742,
        0.09365858],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.03857584, 0.        , ..., 1.        , 0.0727393 ,
        0.0433555 ],
       [0.        , 0.07856742, 0.        , ..., 0.0727393 , 1.        ,
        0.04415108],
       [0.        , 0.09365858, 0.        , ..., 0.0433555 , 0.04415108,
        1.        ]])

In [61]:
def recommend(movie):
    index = df[df['name'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:31]:
        print(df.iloc[i[0]]['name'])

In [66]:
recommend('Bigg Boss')

Big Brother
MasterChef India
De Bondgenoten
Gran hermano
First Dates NL
Die Küchenschlacht
Big Brother Česko & Slovensko
Alle mot alle
Steel Buddies
Farmen
Promi Big Brother
Big Brother
Trump Card
Deutscher Filmpreis
Divas Hit the Road
Die Feste mit Florian Silbereisen
Bauer sucht Frau
Hello, May I Ask You?
Markt
Česko Slovensko má talent
Sztárban sztár leszek!
La más draga
Call Me By Fire
L'amour est dans le pré Belgique
Familie Gillis: Massa is Kassa
MasterChef Česko
Výměna manželek
Kompani Lauritzen: Tropp
Heart Signal
Die Montagsmaler

## Collaborative Filtering

In [19]:
from pyspark.sql.functions import regexp_replace

from pyspark.sql import SparkSession
from pyspark.sql.functions import split, concat_ws, col

# Create a Spark session
spark = SparkSession.builder.appName("Example").getOrCreate()

# Assuming 'movies' is your DataFrame
data = [("Movie1", "['Comedy', 'Mystery', 'Soap', 'Drama']"),
        ("Movie2", "['Action', 'Adventure', 'Sci-Fi']"),
        ("Movie3", "['Comedy']")]

columns = ["name", "genres"]

movies = spark.createDataFrame(data, columns)
movies.show()


# Remove square brackets and single quotes
movies = movies.withColumn("genres", regexp_replace("genres", "[\[\]']", ""))

# Show the updated DataFrame
movies.show(truncate=False)

+------+--------------------+
|  name|              genres|
+------+--------------------+
|Movie1|['Comedy', 'Myste...|
|Movie2|['Action', 'Adven...|
|Movie3|          ['Comedy']|
+------+--------------------+

+------+----------------------------+
|name  |genres                      |
+------+----------------------------+
|Movie1|Comedy, Mystery, Soap, Drama|
|Movie2|Action, Adventure, Sci-Fi   |
|Movie3|Comedy                      |
+------+----------------------------+

In [5]:
import pandas as pd
df = pd.read_csv("final_ratings.csv")
# Assuming df is your DataFrame
df = df.drop('name', axis=1)

df.to_csv("ratings_data.csv", index=False)